{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <h1>Book index</h1>

        {% for book in books %}
        <div class="book">
                <p class="title">{{ book.Title }}</p>
                <p class="author">{{ book.Author }}</p>
                <p>{{ book.PublicationDate ? book.PublicationDate|date('Y-m-d') : '' }}</p>
                <p>{{ book.AdditionDate ? book.AdditionDate|date('Y-m-d') : '' }}</p>
                <p>{{ book.ModificationDate ? book.ModificationDate|date('Y-m-d') : '' }}</p>
                <p>
                    <a href="{{ path('app_book_show', {'id': book.id}) }}">show</a>
                    <a href="{{ path('app_book_edit', {'id': book.id}) }}">edit</a>
                </p>
        </div>
        {% else %}
                <div colspan="7">no records found</div>
        {% endfor %}

    <a href="{{ path('app_book_new') }}">Create new</a>
{% endblock %}
